{% extends 'base.html' %}

{% block title %}
  Journou Home
{% endblock %}

{%block body%}
  <h2 class="ms-2">Welcome to Journou!</h2>
    <h6 class="ms-2">Journou is a webapp made by international students for international students. This website will help provide information regarding everything an international student would need from university applications to money management tips after getting your first job.</h6>
    <p></p>
    <h6 class="ms-2">Applicants will be able to discuss with fellow students from the universities and majors they applied to.</h6>
    <p></p>
    <h6 class="ms-2">The areas being discussed are:</h6>
  <ul class="ms-2">
    <li>
    Education and University information
    </li>
    <li>
    Helpful websites
    </li>
    <li>
    Housing information
    </li>
    <li>
    Vocabulary Changes you might experience
    </li>
    <li>
     Finding jobs during and after your studies
    </li>
    <li>
     Money Management tips (website owner's opinion. this is not financial advice)
    </li>
  </ul>
{%endblock%}
